<div{{ attributes.addClass('tabba-item hidden') }}>
  <div class="row row--equal-height-columns row--centered-column-content">
    <div class="col-sm-6">
      {{ content.field_body }}
    </div>
    <div class="col-sm-6">
      {{ content.field_image }}
    </div>
  </div>
</div>
