{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="container-fluid">

        {# Begin - heading #}
        {{ content.field_heading }}
        {# End - heading #}

        {# Begin - showcase items #}
        {{ content.field_showcase_item }}
        {# End - showcase items #}

        <div class="row">
          <div class="col-md-8 col-lg-9"></div>
          <div class="col-md-4 col-lg-3"></div>
        </div>

        <!-- Begin - embedded view -->
        <div class="grid grid--gutter-15">
          {{ content.embedded_view }}
        </div>
        <!-- End - embedded view -->

      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
